<div class="container">
      <div class="links">
        <a href="https://www.charlotte.edu/">UNC Charlotte</a>
        <a href="https://github.com/hectorv3695">GitHub</a>
        <a href="https://hectorv3695.github.io/">GitHub.io</a>
        <a href="https://webpages.charlotte.edu/hvillalp/">UNCC Web</a>
        <a href="https://www.freecodecamp.org/hectorv3695">freeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/HectorV3695">Codecademy</a>
        <a href="https://www.linkedin.com/in/hector-villalpando-sisniega-831409299/">LinkedIn</a>
      </div>
      <div>
        Page designed by
    <a href="villalpandoenterprises.com/">Villalpando Enterprises</a> &copy; 2025
      </div>
    </div>