<header>
<h1 class="page-title">Hector Villalpando’s Heroic Viper || ITIS 3135</h1>
  <nav class="nav">
    <a href="./" aria-current="page">Home</a> |
    <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a> |
    <a href="website_evaluations.html">Website Evaluations</a> |
    <a href="fccfsjs_outline.html">FCC JS Outline</a> |
    <a href="intro_form.html">Intro Form</a> |
    <a href="project_overview.html"> Project Overview</a>

  </nav>

  <nav class="nav secondary-nav" aria-label="Extra sites">
    <a href="villalpandoenterprises.com/">Villalpando Enterprises</a> |
    <a href="heroicviperbeats/">Heroic Viper Beats</a> |
    <a href="stuff/TERRIBLE AND TRASH WEBSITE.htm">CRAPPY Page</a> |
    <a href="hobby/">Hobby Site</a> |
    <a href="project/">Client Site</a>
  </nav>

</header>
